<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Ofrecemos tratamientos contra varias dolencias</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DUREZAS</h4>
                    <h5 class="service-heading">(HIPERQUERATOSIS)</h5>
                    <p class="text-muted">Es el engrosamiento excesivo de la capa más externa de la piel (estrato córneo) causado por un aumento en la producción de queratina. En podología, suele manifestarse como áreas de piel endurecida, como callosidades o durezas, especialmente en zonas sometidas a presión o fricción repetida.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UÑAS ENCARNADAS</h4>
                    <h5 class="service-heading">(ONICOCRIPTOSIS)</h5>
                    <p class="text-muted">Es una afección comúnmente conocida como uña encarnada. Ocurre cuando el borde lateral o anterior de la uña, generalmente del primer dedo del pie (dedo gordo), se clava en la piel circundante, causando inflamación, dolor, enrojecimiento e incluso infección si no se trata a tiempo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HONGOS EN EL PIE</h4>
                    <h5 class="service-heading">(PIE DE ATLETA)</h5>
                    <p class="text-muted">Es una infección fúngica que afecta la piel de los pies, especialmente entre los dedos. Se manifiesta con descamación, enrojecimiento, picazón, grietas o ampollas, pudiendo extenderse a las plantas y los bordes de los pies.</p>
                </div>
                <div class="col-md-5">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">VERRUGA PLANTAR</h4>
                    <h5 class="service-heading">(PAPILOMA)</h5>
                    <p class="text-muted">Es una lesión cutánea causada por el virus del papiloma humano (VPH). Aparece como una protuberancia en la planta del pie, a menudo con puntos negros (capilares trombosados) y rodeada de piel endurecida, causando dolor al presionarla.</p>
                </div>
                <div class="col-md-5">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">INFECCIONES POR HONGOS A NIVEL DE UÑAS</h4>
                    <h5 class="service-heading"></h5>
                    <p class="text-muted">Son afecciones que provocan el engrosamiento, decoloración, fragilidad y deformidad de las uñas, generalmente en los pies, debido a la invasión de dermatofitos, levaduras u otros hongos.</p>
                </div>
                <div class="col-md-5">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">VERRUGA PLANTAR</h4>
                    <h5 class="service-heading">(PAPILOMA)</h5>
                    <p class="text-muted">Es una lesión cutánea causada por el virus del papiloma humano (VPH). Aparece como una protuberancia en la planta del pie, a menudo con puntos negros (capilares trombosados) y rodeada de piel endurecida, causando dolor al presionarla.</p>
                </div>
                <div class="col-md-6">Avanzados en técnología</div>
                <div class="col-md-7">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">EXPLORACIÓN BIOMECÁNICA Y ANÁLISIS DE LA MARCHA</h4>
                    <h5 class="service-heading"></h5>
                    <p class="text-muted">Son procedimientos podológicos que evalúan la estructura, función y alineación del pie y las extremidades inferiores, tanto en estática como en dinámica, para detectar alteraciones que puedan afectar la pisada o la locomoción.</p>
                </div>
                <div class="col-md-7">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">TRATAMIENTOS ORTOPODOLÓGICOS</h4>
                    <h5 class="service-heading"></h5>
                    <p class="text-muted">Son procedimientos podológicos que emplean soportes plantares, ortesis digitales u otros dispositivos personalizados para corregir alteraciones.</p>
                </div>
            </div>
        </div>
    </section>