<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Ofrecemos tratamientos contra varias dolencias</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DUREZAS</h4>
                    <h5 class="service-heading">(HIPERQUERATOSIS)</h5>
                    <p class="text-muted">Es el engrosamiento excesivo de la capa más externa de la piel (estrato córneo) causado por un aumento en la producción de queratina. En podología, suele manifestarse como áreas de piel endurecida, como callosidades o durezas, especialmente en zonas sometidas a presión o fricción repetida.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">UÑAS ENCARNADAS</h4>
                    <h5 class="service-heading">(ONICOCRIPTOSIS)</h5>
                    <p class="text-muted">Es una afección comúnmente conocida como uña encarnada. Ocurre cuando el borde lateral o anterior de la uña, generalmente del primer dedo del pie (dedo gordo), se clava en la piel circundante, causando inflamación, dolor, enrojecimiento e incluso infección si no se trata a tiempo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HONGOS EN EL PIE</h4>
                    <h5 class="service-heading">(PIE DE ATLETA)</h5>
                    <p class="text-muted">Es una infección fúngica que afecta la piel de los pies, especialmente entre los dedos. Se manifiesta con descamación, enrojecimiento, picazón, grietas o ampollas, pudiendo extenderse a las plantas y los bordes de los pies.</p>
                </div>
            </div>
        </div>
    </section>